
<h1>Add New Customer</h1>

<form></form>
@using (Html.BeginForm("Register","Customer",FormMethod.Post))
{
    <label>Name</label>
    <input type="text" name="Name" />

    <label>Email</label>
    <input type="email" name="Email" />

    <label>Phone</label>
    <input type="phone" name="Phone" />

    <label>Country</label>
    <input type="country" name="Country" />

    <button type="submit" class="btn btn-success">Add</button>

}